<div class="row">
    <div class="col-md-12">
        <h2>The Machines List</h2>
        <app-appareils *ngFor          = "let machine of appareils; let i = index"
                       [appareils]     = "machine"
                       [appareilIndex] = "i">
        </app-appareils>
    </div>
</div><br/><br/>
<div class="row" style = "margin-bottom: 1%;">
    <div class="offset-sm-2 col-sm-4 text-center">
        <button type="button" class = "btn btn-danger btn-block" (click) = "onSwitchAllOFF()">
            SWITCH ALL OFF
        </button>
    </div>
    <div class="col-sm-4 text-center">
        <button type="button" class = "btn btn-success btn-block" (click) = "onSwitchAllON()">
            SWITCH ALL ON
        </button>
    </div>
</div>
