<div class="row">
    <div class="col-md-1-12">
        <h2>Changing your status</h2>
        <p>To change your status, please click the below button</p>
    </div>
</div><br/>
<div class="row">
    <div class="offset-1 col-md-2">
        <button type="button" class="btn btn-success" *ngIf = "!isAuth()" (click) = "onlogUserIn()" >Sign In!</button>
        <button type="button" class="btn btn-danger" *ngIf = "isAuth()"  (click) = "onlogUserOut()" >Sign Out!</button>
    </div>
</div>
<div style = "margin-bottom: 24%;"></div>
