<ng-flash-message></ng-flash-message>
<div class="row">
    <div class="col-md-12">
        <h2>{{ machine.name }}'s Description</h2>
        <ul class = "list-group">
            <li class = "list-group-item">
                {{ machine.content }}
            </li>
            <li class = "list-group-item">
                Purchase Date - {{ machine.purchaseDate | date }}
            </li>
            <li [ngClass] = "getStatusClass()">
                Machine's status - {{ machine.status }}
            </li>
        </ul>
    </div>
</div><br/>
<div class="row" style = "margin-bottom: 10%;">
    <div class="offset-md-2 col-md-3 text-center">
        <button type="button" class="btn btn-dark btn-block" routerLink = "/machines-list">Back to List</button>
    </div>
    <div class="col-md-3 text-center">
        <button type="button" class="btn btn-danger btn-block" (click)  = "onDeleteMachine()">Delete Machine</button>
    </div>
    <div class="col-md-3 text-center">
        <button type="button" class="btn btn-success btn-block" (click) = "onUpdateMachine()">Update Machine</button>
    </div>
</div>
